* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  background-color: rgb(24, 24, 24);
  color: white;
}
.container {
  display: flex;

  min-height: 100vh;
  margin: 0 auto;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  max-width: 400px;
}

div {
  margin-bottom: 1em;
}

form {
  margin: 0 auto;

  width: 100%;
}

label {
  display: block;
  margin-bottom: 0.2em;
}

input {
  padding: 1em 0.5em;
  width: 100%;
}

button {
  padding: 0.5em 1em;
  font-size: inherit;
  background-color: blueviolet;
  color: white;
  border: none;
}

button:hover {
  background-color: rgb(121, 37, 199);
}
